.imgContainer{
    margin: 50px;
    padding: 50px;
    height: 30vh;
    background-color: cyan;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

img{
    margin: auto;
}

.card-img-top{
    height: 9rem;
    max-width: 8rem;
    border-radius: 50%;
    align-self: center;

    margin: 10px;
    border: 1px solid black;
}
h4{
    margin: 20px;
    padding: 0;
    text-align: center;
}
span{
    padding: 10px;
    background-color: rgb(248, 201, 130);
    padding: 0.5%;
    border-radius: 10px;
    
   
}
.card-body{
    text-align: center;
    background-color: rgb(187, 226, 226);
}

.card{
    border: 1.5px solid gray;
}


